# ------------------------
# CMake 빌드 산출물 무시
# ------------------------
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# ------------------------
# Visual Studio 관련 파일 무시
# ------------------------
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# ------------------------
# Visual Studio Code 관련 파일 무시
# ------------------------
.vscode/



# ------------------------
# 빌드 아티팩트 무시
# ------------------------
*.obj
*.o
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.sdf
*.opensdf
*.db
*.cache
*.ncb
*.suo

# ------------------------
# 실행 & 라이브러리 파일 무시
# ------------------------
*.exe
*.dll
*.lib
*.so
*.exp
*.out
*.a
*.dylib
*.app
*.pch
